body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    text-align: center;
}

.palette button.add {
    font-size: 20px;
    display: block;
}

.palette .color-pickers {
    display: flex;
}

.palette .color-picker-container {
    margin: 0.75em;
    border: 2px solid #ccc;
    padding: 0.25em;
}

.palette .color-picker-container.selected {
    border-color: #000;
}

.palette .color-picker-container button.remove {
    margin-left: 1.5em;
}

.sprite-grid {
    border-spacing: 0;
    border-collapse: collapse;
}

.code-container .rendered-code {
    margin: 0.5em;
    padding: 0.5em;
    border: 2px solid #ccc;
    max-height: 15em;
    overflow-y: auto;
    max-width: 30em;
}