body {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.flex-container > * {
    flex: 0 1 calc(33.333% - 0.67em);
    min-width: 0;
}

h1, h2, h3 {
    text-align: center;
}

.palette {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    max-width: 300px;
}

.palette button.add {
    font-size: 20px;
    display: block;
}

.palette .color-picker-container {
    margin: 0.75em;
    border: 2px solid #ccc;
    padding: 0.25em;
    cursor: pointer;
}

.palette .color-picker-container.selected {
    border-color: #000;
}

.palette .color-picker-container button.remove {
    margin-left: 1.5em;
}

.editor-column {
    text-align: center;
}

.sprite-grid {
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.code-container .rendered-code {
    margin: 0.5em;
    padding: 0.5em;
    border: 2px solid #ccc;
    max-height: 15em;
    overflow-y: auto;
    max-width: 30em;
}